.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1BA88;
    height: 550px;
    padding: 0 50px;
    flex-wrap: wrap;
  }

  .left-section h2 {
    flex: 1;
    text-align: left;
    color: black;
    margin-top: 60px;
    margin-left: 70px;
    font-family: 'Charis SIL', serif;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
  }
  
  .right-section img {
    width: 500px;
    height: 540px;
    /* margin-top: 40px; */
    /* margin-left: 90px; */
    margin-right: 100px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      height: auto;
      padding: 20px;
      text-align: center;
    }
  
    .left-section,
    .right-section {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .right-section img {
      width: 80%;
      height: auto;
    }
  }
  
  .service-section {
    background-color: #fff;
    /* background-image: url(images/manicureimage.png); */
    background-size: cover;
    padding: 50px 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .service-intro {
    max-width: 1300px;
    margin: 0 auto 10px;
    color: #333;
    font-size: 24px;
  }
  
  .service-intro p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .manicure-box {
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid black;
    padding: 30px;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
  }
  
  
  .manicure-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .manicure-content img {
    max-width: 350px;
    margin-right: 100px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .manicure-details {
    max-width: 450px;
    text-align: left;
  }
  
  .manicure-details p {
    font-size: 16px;
    margin: 30px 0;
    
  }
  
  .offer {
    background-color: #ff914d;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
  }
  
  .book-btn {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #ff914d;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  .book-btn:hover {
    background-color: #e67300;
  }
  
  .manicure-label {
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    margin-left: 155px;
    margin-top: 50px;
  }
  
  
  /* Footer */
  footer {
    background: #f4b27d;
    padding: 30px;
    color: #fff;
  }
  
  .footer-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
  }
  
  .footer-box div h4 {
    margin-bottom: 10px;
  }
  